<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div style="text-align:left;">
            <h1 style="text-align:center;color:white;background-color:black;font-size:40px;"><b>THÔNG BÁO VỀ QUÊN TÀI KHOẢN</b></h1>

            <p>Chào quý khách, chúng tôi vừa nhận được về vấn đề quên tài khoản của quý khách, sau đây là mã bảo mật để hoàn tất xác nhận!</p>
            Tài khoản: @ViewBag.TaiKhoan

            <h2>Nếu quý khách không thực hiện điều này, vui lòng liên hệ chúng tôi để bảo mật tài khoản ngay!</h2>
        </div>

    </div>
</body>
</html>
