<!DOCTYPE html>
<html lang="en">
<head>
    <title>Điện máy NT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Assets/images/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/font-awesome/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/login.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <a href="./ThongTin"><img src="~/Assets/images/img-01.png" alt="IMG"></a>
                </div>

                @RenderBody()


            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/Assets/js/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/js/bootstrap/popper.js"></script>
    <script src="~/Assets/js/bootstrap/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/js/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/js/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Assets/js/login_main.js"></script>

</body>
</html>
@if (Session["Message"] != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@Session["Message"]");
        };
    </script>
}
@{
    Session["Message"] = null;
}

