@{
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}


<div class="login100-form validate-form">
    <span class="login100-form-title">
        <h1 style="font-weight: bold">Đổi mật khẩu</h1>
        <h3 style="font-weight: bold">Hãy kiểm tra email và nhập mã bảo mật và mật khẩu vào bên dưới</h3>
    </span>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập mật khẩu">
                <input class="input100" type="password" minlength="8" maxlength="32" name="passWord" placeholder="Nhập mật khẩu">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập xác thực mật khẩu">
                <input class="input100" type="password" minlength="8" maxlength="32" name="authPassWord" placeholder="Nhập xác thực mật khẩu">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập mã bảo mật">
                <input class="input100" type="text" minlength="1" maxlength="6" name="maBaoMat" placeholder="Nhập mã bảo mật">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        if (ViewData["LoiDoiMK"] != null)
        {
            <div>
                <p style="color:red;font:bold;font-size:15px;">*** @ViewData["LoiDoiMK"]</p>
            </div>
        }
        <h3 style="font:bold;font-size:15px;">Vẫn chưa nhận được mail?   @Html.ActionLink("Gửi lại ngay", "GuiMailMaBM", "KhachHang")</h3>

        <div class="form-group">
            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                <br />
                <input type="submit" name="submit" class="login100-form-btn" style="width:100%" value="Xác nhận" />
            </div>
        </div>
    }
</div>