@model QLDienMay.Models.PHANHOI

@{
    ViewBag.Title = "GuiPhanHoi";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}

<div class="login100-form validate-form">
    <span class="login100-form-title">
        <h2 style="font-weight: bold">Gửi phản hồi</h2>
    </span>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập họ tên">
            @Html.TextAreaFor(model => model.NOIDUNG, new { @class = "input100", @placeholder = "Nhập nội dung" ,@style = "height:300px;"})
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </span>
            @Html.ValidationMessageFor(model => model.NOIDUNG, "", new { @class = "text-danger" })
        </div>
       
        if (ViewData["LoiGuiPH"] != null)
        {
            <div>
                <p style="color:red;font:bold;font-size:15px;">*** @ViewData["LoiGuiPH"]</p>
            </div>
        }
        <div class="form-group">
            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                <br />
                <input type="submit" name="submit" class="login100-form-btn" style="width:100%" value="GỬI PHẢN HỒI" />
            </div>
        </div>
    }
</div>