
@{
    ViewBag.Title = "DatHangThanhCong";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="page-content" class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading" style="text-align:center;"><h2>ĐẶT HÀNG THÀNH CÔNG</h2></div>
                <h3 style="text-align:center;">Đặt hàng thành công, tổng đài sẽ liên hệ và giao hàng đến bạn sớm thôi!</h3>
            </div>
        </div>
    </div>
</div>
