
@{
    ViewBag.Title = "GioHangTrong";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="page-content" class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading" style="text-align:center;"><h2>THÔNG TIN GIỎ HÀNG</h2></div>
                <h3 style="text-align:center;">Giỏ hàng hiện tại vẫn chưa có sản phẩm nào!</h3>
                <p style="text-align:center;font:bold;font-size:50px;margin-top:100px;"><a href="/Home/Index">MUA HÀNG NGAY</a></p>
            </div>
        </div>
    </div>
</div>

